header>h1{
    text-align: center;
}

.main-container{
    display: flex;
}

.container-item{
    border: 1px solid;
    width: 100%;
    padding: 24px;
}

.container-item>h2{
    text-align: center;
}

.container-result {
    text-align: center;
    background-color: aliceblue;
    padding-top: 8px;
    padding: 24px;
}

.container-info {
    background-color: aliceblue;
    text-align: center;
    padding: 8px;
}

body {
    font-family: Arial, sans-serif;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="number"] {
    width: 100px;
}
button {
    padding: 5px 10px;
    background-color: #5CC0DE;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    height: 32px;
}

button:hover {
    background-color: #ff3300;
}

/* Style for custom radio button label */
.gender-label {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px; /* Menambahkan margin agar terdapat jarak antara tombol radio dan teks */
    display: right; /* Mengatur elemen label agar berada dalam satu baris */
}

.reset-button{
  border: none;
  height: 32px;
  padding: 5px 10px;
  background-color: lightgrey;
  border-radius: 8px;
}

@media screen and(max-width: 480px){
    .main-container{
        flex-direction: column;
    } 
}


