header>h1{
    text-align: center;
}

.main-container{
    display: flex;
}

.container-item{
    border: 1px solid;
    width: 100%;
    padding: 24px;
}

.container-item>h2{
    text-align: center;
}

.container-result {
    text-align: center;
    background-color: aliceblue;
    padding-top: 8px;
    padding: 24px;
}

body {
    font-family: Arial, sans-serif;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="number"] {
    width: 100px;
}
button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Style for custom radio button label */
.gender-label {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px; /* Menambahkan margin agar terdapat jarak antara tombol radio dan teks */
    display: right; /* Mengatur elemen label agar berada dalam satu baris */
}

.tombol2{
    color:white
}

@media screen and(max-width: 480px){
    .main-container{
        flex-direction: column;
    } 
}


