header>h1{
    text-align: center;
}

.logo-container {
    background-color: black; /* Latar belakang hitam untuk logo */
    padding: 15px;
    }

    .container-item{
        border: 1px solid;
        width: 100%;
        padding: 24px;
    }

    .container-main{
        display: flex;
    }

.container-main>h2{
    text-align: center;
}

.container-result {
    text-align: center;
    background-color: aliceblue;
    padding-top: 8px;
    padding: 24px;
}

.container-info {
    background-color: aliceblue;
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
}

.container-form{
    justify-content: center;
    justify-items: center;
}

body {
    font-family: Arial, sans-serif;
    width: 90%;
    height: auto;
    align-items: center;
    justify-content: center;
}
label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
}
input[type="number"] {
    width: 100px;
    margin-left: 10px;
}
button {
    padding: 5px 10px;
    background-color: #5CC0DE;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    height: 32px;
    margin-left: 10px;
}

button:hover {
    background-color: #ff3300;
}

/* Style for custom radio button label */
.gender-label {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px; /* Menambahkan margin agar terdapat jarak antara tombol radio dan teks */
    display: right; /* Mengatur elemen label agar berada dalam satu baris */
}

.reset-button{
  border: none;
  height: 32px;
  padding: 5px 10px;
  background-color: lightgrey;
  border-radius: 8px;
}

@media (max-width: 560px){
    .main-container{
        flex-direction: column;
    } 
}


